/*основные цвета
 #333333-цвет картинок соцсетей, емблем клиентов
/* #FFFFFF-основной цвет фона, акцентный цвет шрифта
/* #2196F3- голубой акцент
/* #212121 - основной цвет шрифта
/* #757575 - серый цвет шрифта
/* #EEEEEE цвет тени
/* #000000 -половина логотипа студио
/* #F5F4FA-цвет фона секции наша команда, фон картинок преимущества
/* #2F303A-цвет фона футера*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  color: #212121;
  font-family: Roboto;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.logo-web {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196f3;

  margin-right: 0;
}

.logo-studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #000000;

  margin-left: 0px;
  margin-right: auto;
}
.header-site .container {
  display: flex;
  align-items: center;
}

/* .site-nav a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
} */
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.site-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-nav-list {
  display: flex;

  margin-top: 32px;
  padding-bottom: 32px;
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
  overflow: hidden;
}
.site-nav-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;

  display: inline-block;
  padding: 30px 0px;
  /* border: 1px solid #cccccc; */
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav :hover,
.site-nav:focus {
  color: #2196f3;
}
/* .current {
  border-bottom: 4px solid#2196f3;
  border-radius: 2px;
} */

.adress-nav {
  display: flex;

  margin-left: auto;
}
/* разметка текущей страницы */
.site-nav-link::before {
  transform: translateX(-101%);
}
.site-nav-link::after {
  transform: translateX(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav-link::before,
.site-nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #003cff;
}
*,
::after,
::before {
  box-sizing: border-box;
}

.mail {
  margin-right: 20px;
}
.fone::before {
  display: inline-block;
  content: '';
  background-image: url(../images/fone.svg);
  fill: #757575;
  min-width: 10px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: -20px;
  align-items: center;
}

.header-icon:hover {
  fill: #2196f3;
}
.mail::before {
  display: inline-block;
  content: '';
  background-image: url(../images/letter.svg);
  min-width: 16px;
  height: 11px;

  background-size: contain;
  background-repeat: no-repeat;
  margin-right: -20px;

  align-items: center;
}
.adress-nav a {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  margin-left: 30px;
}
.adress-nav :hover,
.adress-nav:focus {
  color: #2196f3;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;

  padding-left: 15px;
  padding-right: 15px;
}

.hero-haeding {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;

  /* background-color: url(/images/Header\ img-min.jpg),
   rgba(47, 48, 58, 0.8);
    background-position: center;
  
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 646px;
   text-align: center; */
}
.container-hero {
  width: 1600px;
  height: 600px;
  background-size: 1600px 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.6),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Header.jpg);
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
}
.hero-section {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 250px;
  padding-right: 250px;

  /* background-size: 1600px 600px;
background-image:url(/CSS/Header\ img.jpg);
background-repeat: no-repeat; */
}
.button {
  display: inline-block;
  background-color: #2196f3;
  color: #ffffff;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  border-radius: 6px;

  font-size: 16px;
  line-height: 30px;
}

/* Преимущества */
.advantages-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  display: none;
}
.advantages {
  display: flex;
  margin: 0px;
  padding-bottom: 94px;
  border-bottom: 2px solid rgba(252, 229, 229, 0.4);
}
.advantages-section {
  padding-top: 94px;
}
.advantages-element {
  display: flex;
  width: 270px;
  height: 120px;
  margin-right: 30px;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
}
.icon {
  display: block;
}

.advantages h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}
.advantages p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  margin-bottom: 0px;
  margin-right: 30px;

  letter-spacing: 0.03em;

  color: #757575;
}
.advantages-element:last-child {
  margin-right: 0px;
}
.exempleslist {
  position: relative;
  padding: 0;
  margin: 0px;
  display: flex;
}
.element-list {
  padding: 0px;
  margin-right: 0px;
  width: calc((100% - 60px) / 3);
}
.work-examples {
  margin-top: 0px;
  padding-bottom: 94px;
  padding-top: 94px;
}
h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0px;
}

.examples-text {
  position: absolute;
  bottom: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  margin: 0px;
  padding: 30px;
}
.team-section {
  background-color: #f5f4fa;

  padding-top: 94px;
  padding-bottom: 94px;
}
.team-heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  letter-spacing: 0.03em;
}
.team-list {
  display: flex;
  text-align: center;
}
.team-list-person {
  margin-right: 30px;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.team-list-person:last-child {
  margin-right: 0px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}
.profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #757575;

  margin-bottom: 16px;
}
/* .s {
  display: block;
  width: 44px;
  height: 44px;
  padding: 10px;
} */
.sociallink-list {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
  justify-content: space-evenly;
  padding-top: 16px;
}
.sociallink-element {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  transition-property: color, fill;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.s {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social {
  fill: #afb1b8;
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
}
.sociallink-element:hover .social,
.sociallink-element:focus .social {
  fill: #ffffff;
  background-color: #2196f3;
  border-radius: 50%;
  transition-property: color, fill;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.klient-link {
  fill: #afb1b8;
  border: 1px solid #afb1b8;
}
.client {
  display: flex;
  justify-content: center;
  height: 90px;
}
.klient-link:hover,
.klient-link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
  transition: border 2000ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.element-client a {
  display: flex;
  width: 170px;
  height: 90px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  margin-right: 30px;
}

.element-client:last-child {
  margin-right: 0px;
}
.client-section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.footer {
  background: #2f303a;
  color: #ffffff;
}
.footer .container {
  display: flex;
  padding-top: 50px;
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.adress-container {
  margin-right: 140px;
}
.sociallink-container {
  margin-right: 100px;
}

.footer .logo-studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #ffffff;
}
.footer .logo-web {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  letter-spacing: 0.03em;
}

.contacts {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff;
}
.contacts br {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sociallink-end {
  display: flex;
  color: rgba(255, 255, 255, 0.1);
  margin-top: 16px;
}
/* .sociallink-end-element {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.link-end {
  width: 44px;
  height: 44px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.link-end:hover {
  background-color: #2196f3;
}
.link-end:hover .social {
  fill: #ffffff;
}
.end {
  font-size: 12px;
  line-height: 24px;
  /* or 200% */

  text-align: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.4);
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
}
.email {
  width: 270px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin-right: 10px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 16px;
}
.footer .button {
  margin-top: 34px;
}

/* портфолио */
.button-list a {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;

  height: 38px;
  padding: 6px 22px;
  margin-right: 8px;
}
.button-list {
  display: flex;
  margin-top: 94px;
  padding-bottom: 16px;
  margin-bottom: 34px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.button-portfolio {
  padding: 6px 22px;
  border-radius: 4px;
}

.button-portfolio:hover,
.button-portfolio:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  background: #2196f3;
}
.tehnokrak {
  display: flex;

  flex-wrap: wrap;
  padding-bottom: 94px;
}
.tehnokrak-element {
  margin-right: 30px;
  margin-bottom: 30px;

  width: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
}
.tehnokrak-element:nth-child(3n) {
  margin-right: 0;
}
.tehnokrak-img {
  position: relative;
  overflow: hidden;
}
.tehnokrak-element:hover .tehnokrak-text {
  position: absolute;
  bottom: -25px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: 2000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.tehnokrak-element:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.proekt-name {
  margin-top: 20px;
  margin-bottom: 0;
  margin-bottom: 4px;
  margin-left: 24px;
  margin-right: 24px;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
}
.tehnokrak-produkt {
  font-weight: normal;
  font-size: 16px;
  line-height: 36px;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;
  color: #757575;

  margin-bottom: 20px;
  margin-top: 0px;
  margin-left: 24px;
  margin-right: 24px;
}

.tehnokrak-text {
  display: block;
  position: absolute;
  bottom: -50%;
  opacity: 0;
  transform: translateY(-50%);
  transition-duration: 2000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  border-radius: 5px 5px 0px 0px;
  width: 370px;
  height: 294px;
  padding: 63px 24px;
}

.link-sub {
  color: #ffffff;
}
